$breakpoints: (
  'none': 0,
  'xs': 500,
  'sm': 600,
  'md': 960,
  'lg': 1360,
  'xl': 1920,
);

$directions: (
  t: (
    top,
  ),
  r: (
    right,
  ),
  b: (
    bottom,
  ),
  l: (
    left,
  ),
  x: (
    right,
    left,
  ),
  y: (
    top,
    bottom,
  ),
  a: (
    top,
    right,
    bottom,
    left,
  )
);
