@import '@/components/admin/css/helpers/variables.scss';
@import '@/components/admin/css/helpers/spacers.scss';

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

.w100 {
  width: 100%;
}

.q-drawer {
  @media (max-width: 300px) {
    width: 100% !important;
  }
}

.q-select {
  & .q-field__control {
    & .q-field__native {
      span {
        text-wrap: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}